.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: repeat(6, 175px);
    grid-gap: 15px;
    justify-content: center;
}

.pokemon {
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
}

.pokemon img {
    width: 50%;
    height: 50%;
}

h1, h2, h3 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 10px;
    color: grey;
}

.type {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 2px;
}

.poison {
    background-color: #A040A0;
}

.grass {
    background-color: #78C850; 
}

.fire {
    background-color: #F08030;
}

.flying {
    background-color: #A890F0;
}

.water {
    background-color: #6890F0;
}

.bug {
    background-color: #A8A878;
}

.normal {
    background-color: lightgrey;
}

.electric {
    background-color: #F7E724;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 2px;
}

.ground {
    background-color: #955A31;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 2px;
}

.fairy {
    background-color: #F4BDC9;
    height: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 175px);
    }
}
