.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: repeat(25, 175px);
    grid-gap: 15px;
    justify-content: center;
}

.pokemon {
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
}

.pokemon img {
    width: 50%;
    height: 50%;
}

h1, h2, h3 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 33px;
    position:relative;
    text-align: center;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 10px;
    color: grey;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
/* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 5px;
/*Font Style */
    font-family: helvetica, sans-serif;
    font-size: 14px;

}

.type:hover .tooltiptext {
    visibility: visible;

}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
/*At the bottom of the tooltip*/
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}


.type {
    height: 25px;
    width: 66px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px solid;
    color: #ffff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    display: inline-block;
    margin: 2px;
    position: relative;
}

.poison {
    background-color: #A040A0;
}

.psychic {
  background-color: #f59
}

.grass {
    background-color: #78C850;
}

.fire {
    background-color: #F08030;

}

.fighting {
  background-color: #A40000
}

.flying {
    background-color: #A890F0;
}

.water {
    background-color: #6890F0;
}

.bug {
    background-color: #A8A878;
}

.normal {
    background-color: lightgrey;
}

.electric {
    background-color: #F7E724;
}

.ground {
    background-color: #955A31;
}

.fairy {
    background-color: #F4BDC9;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 175px);
    }
}
